<div class="banner-right mb-5" style="width: 100%;">
  <div class="container py-4">
    <div class="description-banner row d-flex justify-content-between align-items-center my-5" style="width: 100%; margin: auto;">

        <div class="description col-12 col-md-8 col-lg-8 pr-5">
          <h1 class="mb-2">Hello! I am Alexandre,</h1>
          <h2 class="mb-5">I am a full stack web developer based in London.</h1>
          <p>I have recently graduated from Le Wagon Bootcamp. I had the chance to learn Ruby, RoR, HTML, CSS, JavaScript, Ajax, turbolinks, Active record, as well as github and heroku.</p>
          <p>I'm currently looking for a web development role in London or remote. If you see something that interests you, feel free to get in touch.</p>
          <!-- <button type="button" class="btn btn-secondary mt-5">GET IN TOUCH</button> -->
          <%= link_to 'GET IN TOUCH' , contact_path, class:'btn btn-secondary mt-5' %>
        </div>
        <div class="col-12 col-md-4 col-lg-4" style="width: 35%;">
          <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631022152/Alexandre_MOREY_6405_rcj9xs.jpg",
              width: 340, height: 500, crop: :thumb, gravity: :face) %>
        </div>

    </div>
  </div>
</div>
<h1 class="mb-5" style="margin: auto; text-align: center;">My Recent Work</h1>
<div class="banner-left mb-5" style="width: 100%;">
  <div class="container py-4">
    <div class="description-banner d-flex justify-content-between align-items-center my-5" style="width: 100%; margin: auto;">
      <div style="margin-left: -7%;">
        <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631265744/profil%20picture%20Alex/smartmockups_kte5blt4-removebg-preview_yuzv4s.png",
            width: 600, height: 380, crop: :thumb, gravity: :face) %>
      </div>
      <div class="description">
        <h1 class="mb-2">NFT Squad</h1>
        <h2 class="mb-5">Social network for cryptocurrencies communities and NFT artists.</h1>
        <p>Built with a team of 4 using Ruby on Rails, HTML, CSS, JavaScript, Ajax and Active record while working and leading a team on Github/heroku.</p>
        <p>I'm currently looking for a web development role in London or remote. If you see something that interests you, feel free to get in touch.</p>
        <!-- <button type="button" class="btn btn-secondary mt-5">GET IN TOUCH</button> -->
        <a class="btn btn-secondary mt-5" target="blank" href="http://www.nftsquad.club/">VISIT WEBSITE</a>
      </div>
    </div>
  </div>
</div>
<div class="banner-right mb-5" style="width: 100%;">
  <div class="container py-4">
    <div class="description-banner d-flex justify-content-between align-items-center my-5" style="width: 100%; margin: auto;">
      <div class="description mr-5">
        <h1 class="mb-2">Car2me</h1>
        <h2 class="mb-5">Forget AirBnB! Car2me allows you to find a car.</h1>
        <p>Built with a team of 4 using Ruby on Rails, HTML, CSS, JavaScript, Ajax and Active record while working and leading a team on Github/heroku.</p>
        <!-- <button type="button" class="btn btn-secondary mt-5">GET IN TOUCH</button> -->
        <a class="btn btn-secondary mt-5" target="blank" href="https://github.com/Alexmry/Car2me">SEE SOME CODE</a>
      </div>
      <div style="margin-right: -7%;">
        <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631283193/profil%20picture%20Alex/smartmockups_ktefvqlg_a98wet.png",
            width: 600, height: 380, crop: :thumb, gravity: :face) %>
      </div>
    </div>
  </div>
</div>
<div class="banner-left mb-5" style="width: 100%;">
  <div class="container py-4">
    <div class="description-banner d-flex justify-content-between align-items-center my-5" style="width: 100%; margin: auto;">
      <div style="margin-left: -7%;">
        <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631283530/profil%20picture%20Alex/smartmockups_kteg2or7_nneb4e.png",
            width: 600, height: 380, crop: :thumb, gravity: :face) %>
      </div>
      <div class="description">
        <h1 class="mb-2">JavaScript 30 Days Challenge</h1>
        <h2 class="mb-5">Every day during 30 days, I followed West Bross challenges.</h1>
        <p>I learnt DOM manipulations, evenListener, querySelector, etc.</p>
        <!-- <button type="button" class="btn btn-secondary mt-5">GET IN TOUCH</button> -->
        <a class="btn btn-secondary mt-5" target="blank" href="https://github.com/Alexmry/JavaScript30-master">SEE SOME CODE</a>
      </div>
    </div>
  </div>
</div>
<div class="banner-right mb-5" style="width: 100%;">
  <div class="container py-4">
    <div class="description-banner d-flex justify-content-between align-items-center my-5" style="width: 100%; margin: auto;">
      <div class="description mr-5">
        <h1 class="mb-2">Whack The Alex</h1>
        <h2 class="mb-5">Try it out and let me know your highest score!</h1>
        <p>Game that I created with JavaScript, combining several function with objects, classList manipulations, setTimeout, etc.</p>
        <%= link_to 'TRY IT' , game_whack_the_alex_path, class:'btn btn-secondary mt-5' %>
      </div>
      <div style="margin-right: -7%;">
        <%= cl_image_tag("https://res.cloudinary.com/alexmry/image/upload/v1631283410/profil%20picture%20Alex/smartmockups_kteg0arh_rxwllf.png",
            width: 600, height: 380, crop: :thumb, gravity: :face) %>
      </div>
    </div>
  </div>
</div>

<!--------------------------- footer -------------------------------->

<div class="footer" style="width: 100%; height: 24rem">
  <div class="items">
    <p class="mb-2">If you've got this far maybe you'd like to know more about me?</p>
    <p>We should <strong>have a chat</strong></p>
    <div class="social-links mt-4">
      <ul class="list-inline">
        <li><a target="blank" href="https://github.com/Alexmry" class="social-icon"><i class="fab fa-github"></i></a></li>
        <li><a target="blank" href="https://www.linkedin.com/in/alexandre-morey/" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a target="blank" href="https://twitter.com/alexmry_6" class="social-icon"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>


