<!DOCTYPE html>
<html>
  <head>
    <title>ProfileAlex2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div style="background: lightcoral; padding: 16px; font-family: 'Exo 2', sans-serif; font-size: 20px">
      <%= link_to "home", root_path %>
      <%= link_to "about me", about_path %>
      <%= link_to "contact", contact_path %>
      <%= link_to "game", game_whack_the_alex_path %>
    </div>
    <%= yield %>
  </body>
</html>
